body {
	background-color: #222;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0;
}

header {
	background-color: black;
	background
	margin: 0;
	padding: 0;
	min-width: 100%;
}

header > img {
	max-width: 100%;
	height: auto;
}

nav {
	background-color: black;
	min-width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

nav>ul>li{
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	
}

nav>ul>li>a{
	text-decoration: none;
	font-family: Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	color: white;

}

nav>ul>li:hover {
	background-color: #222;
}

.content-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	width: 96vw;
	min-width: 600px;
	padding: 0 1%;
}

.content-container:after {
	content: "";
	flex: 1 0 auto;
}

.sc-embed {
	margin: 1vw;
	width: 450px;
	height: 450px;
	flex: 0 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none;
}

.hidden {
	visibility: hidden;
	margin: 1vw;
	width: 450px;
	height: 0;
	flex: 0 0 auto;
}

.hidden2 {
	visibility: hidden;
	width: 320px;
	height: 0;
	/*flex: 1 0 auto;*/
}

#instafeed-large, #instafeed-small, #instafeed-thumb {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	width: 94vw;
	/*min-width: 600px;*/
	/*margin-top: 3%;*/
	padding: 2%;
}

#instafeed-large img {
	max-width: 100%;
	height: auto;
}

.instagram-square {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instagram-portrait {
	display: none;
}
.instagram-landscape {
	display: none;
}



/*#instafeed-thumb {
	display: none;
}*/

@media only screen and (min-width: 1024px) {
	#instafeed-large {display: none;}
	#instafeed-small {display: flex;}
	#instafeed-thumb {display: none;}
}
@media only screen and (max-width: 1024px) {
	#instafeed-large {display: none;}
	#instafeed-small {display: none;}
	#instafeed-thumb {display: flex;}
}
@media only screen and (max-width : 800px) {
	#instafeed-small {display: none;}
	#instafeed-thumb {display: none;}
	#instafeed-large {display: flex;}
}