html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

html {
	font: 100%;
}

body {
	background-color: #222;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

header {
	background-color: black;
	background
	margin: 0;
	padding: 0;
	min-width: 100%;
}

header > img {
	max-width: 100%;
	height: auto;
}

nav {
	background-color: black;
	min-width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

nav>ul>li{
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	
}

nav>ul>li:hover {
	background-color: #222;
}

nav>ul>li>a{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	color: white;

}

footer {
	background-color: black;
	margin:	0;
	padding: 0;
	min-width: 100%;
    box-shadow: 0px 500px 0px 500px #000;
    height: 2em;
}

footer>p {
	text-align: center;
	font-family: sans-serif;
	font-size: 1em;
	color: white;
	padding: 14px 16px;
	line-height: 2em;
}

footer>p>a {
	color: white;
}
footer>p>a>img {
	height: 1em;
	width: auto;
}

.hidden {
	visibility: hidden;
	width: 320px;
	height: 0;
	/*flex: 1 0 auto;*/
}

.hiddenThumb {
	visibility: hidden;
	width: 150px;
	height: 0;
}

#instafeed-large, #instafeed-small, #instafeed-thumb {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	/*width: 94vw;*/
	/*min-width: 600px;*/
	/*margin-top: 3%;*/
	margin: 1vw;
}

#instafeed-large img {
	max-width: 100%;
	height: auto;
}

.instagram-square {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instagram-portrait {
	display: none;
}
.instagram-landscape {
	display: none;
}

@media only screen and (min-width: 1024px) {
	#instafeed-large {display: none;}
	#instafeed-small {display: flex;}
	#instafeed-thumb {display: none;}
}
@media only screen and (max-width: 1024px) {
	#instafeed-large {display: none;}
	#instafeed-small {display: none;}
	#instafeed-thumb {display: flex;}
}
@media only screen and (max-width : 800px) {
	#instafeed-small {display: none;}
	#instafeed-thumb {display: none;}
	#instafeed-large {display: flex;}
}